{% extends 'layout.html' %}

		
{% load static %}


{% block content  %}
	<img id= 'iamge-id' src="https://cdn.iconscout.com/icon/free/png-512/django-2-282855.png" alt="Django App">
	    <main class= 'main-body' >
			<h1 id='title'> Hello and Welcome! </h1>
			<h2 id='mid-sec'>This is a simple Todo app built using Django.</h2>
			<pre id = 'last-sec'>Get started by selecting one of the options from the navigation menu below.</pre>
		</main>
	<br>
		<section>
			<nav>
				<div class="container">
						
						<button id='list-button'><a href="{% url 'todo-list' %}">Tasks</a></button>
						<button id='create-button'><a href="{% url 'todo-create' %}">New Task</a></button>
						<button id='logout-button'><a href="{{ logout_url }}">Logout</a></button>

					
				</div>
		  	</nav>
		  
	</section>
	
		
{% endblock  %}

