{% extends 'layout.html' %}

{% block content %}
<div>
    
            {% for item in todo %}

            <h1>
                {{ item.activity }}
            </h2>
            <pre>
                {{ item.description }}
            </pre>
            <p>
                {{ item.time }}
            </p>
            <h4>
                {{ item.completed }}
            </h4>

            {% endfor %}    
    <section>
        <button id='back'><a href="{% url 'home' %}">Back</a></button> 
    </section>
</div>


{% endblock  %}
